/OpenClosedPrinciple/nbproject/private/
/OpenClosedPrinciple/build/
/Single Responsibility/nbproject/private/
/LiskovSubstitutionPrinciple/nbproject/private/
/InterfaceSegregationPrinciple/nbproject/private/
/InterfaceSegregationPrinciple/build/
/DependencyInversionPrinciple/nbproject/private/
